<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} | DIREXION IT </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/admin.css') }}" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 5000);
    </script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand topnav" href="{{ url_for('view_blueprint.index') }}">DIREXION IT</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="{{ url_for('view_blueprint.users') }}">Customers</a></li>
                  <li><a href="{{ url_for('view_blueprint.merchants') }}">Merchants</a></li>
                  <li><a href="{{ url_for('view_blueprint.orders') }}">Orders</a></li>
                  <li><a href="{{ url_for('view_blueprint.delivery_boy') }}">Delivery Boys</a></li>
              </ul>
          </div>
        </div>
    </nav>
    <div class="container">
        <form action="{{ url_for('view_blueprint.add_item_hide') }}" method="post">
            {{ csrf_token }}
            <div class="modal-body" style="margin-top: 50px;">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="item_name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="sub_category">sub_item</label>
                <select id="sub_category" name="sub_category">
                    <option value="{{ none }}" name="sub_category"> - </option>
                    {% for sub_item in sub_items %}
                        <option value="{{ sub_item.id }}" name="sub_category">{{ sub_item.item_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="item_unit">item_unit</label>
                <select id="item_unit" name="item_unit">
                    <option value="gram" name="gram">gram</option>
                    <option value="kg" name="kg">kg</option>
                    <option value="ml" name="ml">ml</option>
                    <option value="liter" name="liter">liter</option>
                </select>
            </div>
            <div>
                <input type="submit" class="btn btn-success" value="ADD Item">
            </div>
        </form>
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="container my-4">
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        {% endwith %}


    </div>
</body>
</html>
