<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} | DIREXION IT </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/admin.css') }}" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand topnav" href="{{ url_for('view_blueprint.index') }}">DIREXION IT</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="{{ url_for('view_blueprint.users') }}">Customers</a></li>
                  <li><a href="{{ url_for('view_blueprint.merchants') }}">Merchants</a></li>
                  <li><a href="{{ url_for('view_blueprint.orders') }}">Orders</a></li>
                  <li><a href="{{ url_for('view_blueprint.delivery_boy') }}">Delivery Boys</a></li>
              </ul>
          </div>
        </div>
    </nav>
    <div class="container">
        {% for boy in boys %}
            <form action="{{ url_for('view_blueprint.update_boy') }}" method="post">
                {{ csrf_token }}
                <div class="modal-body" style="margin-top: 50px;">
                    <input type="hidden" value="{{boy.id}}" name="id">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" value="{{boy.name}}" class="form-control" name="new_name">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" value="{{boy.email}}" class="form-control" name="new_email">
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" value="{{boy.phone_number}}" class="form-control" name="new_phone_number">
                    </div>
                </div>
                <div>
                    <input type="submit" class="btn btn-success" style="margin-left:14px;" value="Update">
                </div>
            </form>
        {% endfor %}
    </div>

</body>
</html>
